{% load static %}
<html>
  <head>

    <title>django topic</title>
    <link rel="stylesheet" type="text/css" href="{% static  'css/style.css' %}"/>
  </head>
  <body>
      <header>
          <div class="nav-left">
          <h1>
              <a href="{% url 'home' %}"> Django Board</a></h1>
          </div>
          <div class="nav-right">
              <a href="{% url 'post_new' %}">+new post</a>

          </div>

      </header>
      <div>
    {% block content %}

    {% endblock content %}
      </div>
   </body>
</html>