{% extends 'base.html' %}
{% block content %}
<div class="post-entry">
    <h2>{{object.title}}</h2>
    <p>{{object.body}}</p>
</div>
<a href="{% url 'post_edit' post.pk %}">+ edit post</a>
<a href="{% url 'post_delete' post.pk %}">+ delete post</a>
{% endblock content %}